// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.local-app {
    min-width: 400vw;
}

// bootstrapカスタマイズ
body {
    background-color: white;
}

.table-hover tbody tr:hover td {
    background: #17A2B8;
}

.my-vh-100 {
    //navbarの高さ分とpy-4のパディング分を引く
    height: calc(100vh - 72px - 24px)
}

.my-z-index-1 {
    z-index: q;
}

.my-z-index-2 {
    z-index: 2;
}